<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">
        <link rel="stylesheet" type="text/css" href="css/adalert.css" />
        <title>adAlert mobile [0.0.1]</title>

        <script type="text/javascript" src="js/jquery-latest.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
		<script type="text/javascript" src="js/cordova.js"></script>
		<script type="text/javascript" src="js/phoneInfoPlugin.js"></script>
		<script type="text/javascript" src="js/adalert.js"></script>
		<script type="text/javascript" src="js/bdAlarmes.js"></script>
		<script type="text/javascript" src="js/alarmes.js"></script>
		
    </head>
    <body>
    	<header>
			<div class="headerLogo"><img src="img/logo.png" width="70" /></div>
			<div class="headerTitle">
				<div class="headerTxtTitle">adAlert mobile</div>
				<div class="headerTxtSubTitle">(c) SETTING. v.0.0.1</div>
			</div>
    	</header>
    	
    	<section id="app" class="mainSection">
    		<div id="botonera" class="mainDiv">
    		<br/>
    		<center>
    			<table border="0" cellspacing="2" cellpadding="2">
    				<tr>
    					<td colspan="2">
							<button id="btnEnviament" class="botoRnd btn250x75" type="button" onclick="app.alarmes();">Enviar alarma</button>
    					</td>
    				</tr>
   					<tr>
   						<td align="left">
    						<button id="btnInfoPhone" class="botoRnd btn100x100" type="button" onclick="app.infoTelefon();">Info telèfon</button>
    					</td>
    					<td align="right">
    						<button id="btnParametres" class="botoRnd btn100x100" type="button" onclick="app.parametres();"><img src="img/parametres.png" width="50" /></button>
    					</td>
    				</tr>
   				</table>
   			</center>
   			
   			</div>
    		
            <div id="infoTelefon" class="mainDiv"></div>
	    	<div id="parametres" class="mainDiv"></div>
	    	<div id="alarmes" class="mainDiv"></div>
    	</section>
    
		<footer>
			<div id="" class="esquerra"></div>
			<div id="" class="dreta"></div>
		</footer>
		        	
        <script type="text/javascript">
            app.initialize();
        </script>
        
	
        <!-- Enviament d'alarmes -->
        <script type="text/template" id="alarmes_template">
           	<p class="titolSeccio"><label id="txtTitolDreta">Enviament d'alarma</label>
				<button id="btnTornaInfoTelefon" class="boto btn50x30 esquerra" type="button" onclick="app.menu();">&lt;&lt;</button>
			</p>
			
			<br/>
			<strong> Seleccionar tipus d'alarma:  
			<br/>
			
			<select>
				<% for(i=0; i<output.length; i++) { %>
					<option value = <%= output[i][0] %> selected><%= output[i][1] %></option>
				<% } %>
			</select>
			<br/>
			<br/>
			<strong> Missatge: 
			<br/>
			<textarea rows="10" cols="30" id=txtMissatge wrap="hard"></textarea>			

			<br/>
			<br/>
			<br/>
			<button id="btnEnviar" class="botoRnd btn200x75" type="button" onclick="app.agressio();">Enviar</button>    		
			
		
		</script>
        
		<!-- Gestió de paràmetres -->
		<script type="text/template" id="parametres_template">
           	<p class="titolSeccio"><label id="txtTitolDreta">Paràmetres</label>
				<button id="btnTornaInfoTelefon" class="boto btn50x30 esquerra" type="button" onclick="app.menu();">&lt;&lt;</button>
			</p>

			<br/>

    		<!-- 
				<table>
					<tbody>
						<% for(i=0; i<output.length; i++) { %>
							<tr>
								<td><strong><%= output[i][0] %> : </strong></td>
								<td> <%= output[i][1] %></td>
							</tr>			
						<% } %>
					</tbody>
				</table>	
			-->			
			
			<table width="100%">
				<tbody>
					<% for(i=0; i<output.length; i++) { %>
						<tr>
							<td><strong><%= output[i][0] %> : </strong></td>
							<td><textarea rows="1" cols="0" id=i><%= output[i][1] %></textarea></td>
						</tr>			
					<% } %>
					<tr>
						<td>
						</td>
						<td align="right">
							<button id="btnDesar" class="botoRnd btn75x30" type="button" onclick="app.parametres();">Desar</button>
						</td>
					</tr>							
				</tbody>
			</table>	

			<br/>
			

		</script>
		
		<!-- Informació del dispositiu -->
		<script type="text/template" id="infoTelefon_template">
           	<p class="titolSeccio"><label id="txtTitolDreta">Informació dispositiu</label>
				<button id="btnTornaInfoTelefon" class="boto btn50x30 esquerra" type="button" onclick="app.menu();">&lt;&lt;</button>
			</p>

			<table border="0" cellspacing="2" cellpadding="2">
				<tr>
					<td>Device Name</td>
					<td><%= deviceName %></td>
				</tr>
				<tr>
					<td>Device Cordova</td>
					<td><%= deviceCordova %></td>
				</tr>
				<tr> 
	        		<td>Device Platform</td>
					<td><%= devicePlatform %></td>
				</tr>
				<tr> 
	        		<td>Device UUID</td>
					<td><%= deviceUUID %></td>
				</tr>
				<tr> 
	        		<td>Device Version</td>
					<td><%= deviceVersion %></td>
				</tr>
				<tr> 
	        		<td>phoneType</td>
					<td><%= phoneType %></td>
				</tr>
				<tr> 
	        		<td>deviceId</td>
					<td><%= deviceId %></td>
				</tr>
				<tr> 
	        		<td>deviceSoftwareVersion</td>
					<td><%= deviceSoftwareVersion %></td>
				</tr>
				<tr> 
	        		<td>line1Number</td>
					<td><%= line1Number %></td>
				</tr>
				<tr> 
	        		<td>subscriberId</td>
					<td><%= subscriberId %></td>
				</tr>
				<tr> 
	        		<td>simState</td>
					<td><%= simState %></td>
				</tr>
				<tr> 
	        		<td>simCountryIso</td>
					<td><%= simCountryIso %></td>
				</tr>
				<tr> 
	        		<td>simOperatorName</td>
					<td><%= simOperatorName %></td>
				</tr>
				<tr> 
	        		<td>simSerialNumber</td>
					<td><%= simSerialNumber %></td>
				</tr>
				<tr> 
	        		<td>networkCountryIso</td>
					<td><%= networkCountryIso %></td>
				</tr>
				<tr> 
	        		<td>networkOperator</td>
					<td><%= networkOperator %></td>
				</tr>
				<tr> 
	        		<td>networkOperatorName</td>
					<td><%= networkOperatorName %></td>
				</tr>
			</table> 
		</script>

    </body>
</html>

