<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" /> -->
        <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=yes">-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/adalert.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css" />
<!--         <link rel="stylesheet" type="text/css" href="css/style-tl1.css" /> -->
        <title>adAlert mobile [0.0.1]</title>

        <script type="text/javascript" src="js/jquery-latest.js"></script>
        <script type="text/javascript" src="js/underscore.js"></script>
 		<script type="text/javascript" src="js/cordova.js"></script>
		<script type="text/javascript" src="js/statusbarnotification.js"></script>
		<script type="text/javascript" src="js/phoneInfoPlugin.js"></script>
		<script type="text/javascript" src="js/adalert.js"></script>
		<script type="text/javascript" src="js/bdAlarmes.js"></script>
		<script type="text/javascript" src="js/alarmes.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>

    </head>
    <body>
    	<header>
            <nav class="navbar navbar-default navbar-static-top" >
                <div class="headerLogo"><img src="img/logo.png" class="img-responsive" width="70px" /></div>
                <div class="headerTitle">
                    <p class="headerTxtTitle">adAlert mobile</p>
                    <p class="headerTxtSubTitle">(c) SETTING. v.0.0.1</p>
                </div>
            </nav>
    	</header>
    	
    	<section id="app">
            <div class="mainSection">

                <div id="botonera" class="mainDiv">
                    <div class="text-center">
                        <figure>
                            <a href="#">
                                <i id="btnEnviament2" class="glyphicon glyphicon-bullhorn icon-rounded icon-alarma"  onclick="app.alarmes();"></i>
                                <!--<i id="btnEnviament2" class="glyphicon glyphicon-bell icon-rounded icon-alarma" onclick="app.alarmes();"></i>-->
                            </a>
                        </figure>
                        <p class="iconLabel">Enviar alarma</p>
                        <!--<p>Envía una alarma al sistema de ....</p>-->
                    </div>
                    <div class="botoneraInferior" >
                        <div id="infoUser" class="" style="float: left">
                            <ul>
                                <li><span class="titulo">Usuari:</span> <span id="usuNom"></span></li>
                            	<li><span class="titulo">Edificis:</span> <span id="usuEdificis"></span></li>
                            </ul>
                        </div>
                        
                        <div class=""  style="float: right">
                            <figure style="margin-left: 0.3em;">
                                <a href="#">
                                    <i class="glyphicon glyphicon-cog icon-rounded icon-params" onclick="app.parametres();"></i>
                                </a>
                            </figure>
                            <p style="font-size: 1em; margin-right: 0.5em;" class="iconLabel">Parametres</p>
                        </div>
                    </div>
                         <!--<tr>-->
                            <!--<td>-->
                                <!--<button id="btnWS" class="botoRnd btn100x100" type="button" onclick="app.ws();">Connexió WS</button>-->
                            <!--</td>-->
                        <!--</tr> -->
                </div>

                <div id="infoTelefon" class="mainDiv"></div>
                <div id="parametres" class="mainDiv"></div>
                <div id="alarmes" class="mainDiv"></div>
                <div id="ws" class="mainDiv"></div>
            </div>
    	</section>
    
		<footer>
			<div id="" class="esquerra"></div>
			<div id="" class="dreta"></div>
		</footer>
		        	
        <script type="text/javascript">
            app.initialize();
        </script>
        
		<!-- Connexió WS -->
		<script type="text/template" id="ws_template">
           	<div class="divContenido">
                <div class="titoleccio">
                    <div style="float: right">
                        <p class="titolSeccio bold">Dades missatge</p>
                    </div>
                </div>

                <table id="dadesAlarmaTable" class="table">
                    <tr>
                        <th>Data i Hora</th>
                        <td><%= dataHora %></td>
                    </tr>
                    <tr>
                        <th>Tip. alarma</th>
                        <td><%= TipusAlarma %></td>
                    </tr>
					<tr>
                        <th>Missatge</th>
                        <td><%= Missatge %></td>
                    </tr>					
					<tr>
                        <th>Emissor</th>
                        <td><%= Emissor %></td>
                    </tr>
                    <tr>
                        <th>Ubicació</th>
                        <td><%= Ubicacio %></td>
                    </tr>
					<tr>
                        <th>Area</th>
                        <td><%= Area %></td>
                    </tr>
					
                </table>

                <table class="botoneraInferiorParametres" >
                    <tr>
                        <td style="text-align: left;" >
                            <figure>
                                <a href="#">
                                    <i class="glyphicon glyphicon-chevron-left icon-rounded icon-params" onclick="app.menu();"></i>
                                </a>
                            </figure>
                            <p style="font-size: 1em; margin-left: 0.8em; text-align: center; text-align: left;" class="iconLabel">Tornar</p>
                        </td>
                    </tr>
                </table>
            </div>
			
		</script>
	
	
        <!-- Enviament d'alarmes -->
        <script type="text/template" id="alarmes_template">
            <div class="divContenido">
                <div class="titoleccio">
                    <div style="float: right">
                        <p class="titolSeccio bold">Enviament d'alarma</p>
                    </div>
                </div>

                <form role="form" style="clear: both;">
                    <div class="form-group">
                        <label for="tipusAlarma" class="bold">Seleccionar tipus d'alarma</label>
                        <select id="tipusAlarma" class="form-control" style="width: 15em;">
                            <% for(i=0; i<output.length; i++) { %>
                                <option value = <%= output[i][0] %> id="t<%= output[i][0] %>" selected><%= output[i][1] %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="tipusAlarma" class="bold">Missatge</label>
                        <textarea class="form-control" rows="10" cols="30" id=txtMissatge wrap="hard"></textarea>
                    </div>
                </form>

                <table class="botoneraInferiorParametres" >
                    <tr>
                        <td style="text-align: left;" >
                            <figure>
                                <a href="#">
                                    <i class="glyphicon glyphicon-chevron-left icon-rounded icon-params" onclick="app.menu();"></i>
                                </a>
                            </figure>
                            <p style="font-size: 1em; margin-left: 0.8em; text-align: center; text-align: left;" class="iconLabel">Tornar</p>
                        </td>

                        <td style="text-align: right; padding-left: 1.9em;">
                            <figure>
                                <a href="#">
                                    <i class="glyphicon glyphicon-ok icon-rounded icon-desar" onclick="app.enviamentAlarma();"></i>
                                </a>
                            </figure>
                            <p style="font-size: 1em; padding-right: 7pt; text-align: right;" class="iconLabel">Enviar</p>
                        </td>
                    </tr>
                </table>

            </div>
		
		</script>
        
		<!-- Gestió de paràmetres -->
		<script type="text/template" id="parametres_template">
            <div class="divContenido">
                <div class="titoleccio">
                    <div style="float: right">
                        <p class="titolSeccio bold">Paràmetres</p>
                    </div>
                </div>

                <form role="form" style="clear: both;">
                    <% for(i=0; i<output.length; i++) { %>
                        <div class="form-group">
                                <label for="t<%= output[i][0] %>" class="bold"><%= output[i][0] %></label>
                            <% if(output[i][0] == "Password") { %>
                                <input type="password" id="t<%= output[i][0] %>" class="form-control" placeholder="Password personal"  value="<%= output[i][1] %>">
                            <% } else if(output[i][0] == "adreca") { %>
                                <textarea class="form-control" rows="3" cols="0" id="t<%= output[i][0] %>"><%= output[i][1] %></textarea>
                            <% } else { %>
                                <input type="text" id="t<%= output[i][0] %>" class="form-control" placeholder="Introdueix el teu usuari" value="<%= output[i][1] %>">
                            <% } %>
                        </div>
                    <% } %>
                </form>

                <table class="botoneraInferiorParametres" >
                    <tr>
                        <td style="text-align: left;" >
                            <figure>
                                <a href="#">
                                    <i class="glyphicon glyphicon-chevron-left icon-rounded icon-params" onclick="app.menu();"></i>
                                </a>
                            </figure>
                            <p style="font-size: 1em; margin-left: 0.8em; text-align: center; text-align: left;" class="iconLabel">Tornar</p>
                        </td>

                        <td style="padding-left: 1.4em;">
                            <figure style="">
                                <a href="#">
                                    <i class="glyphicon glyphicon-info-sign icon-rounded icon-params" onclick="app.infoTelefon();"></i>
                                </a>
                            </figure>
                            <p style="font-size: 1em; margin-right: 1.1em; text-align: center;" class="iconLabel">Informació</p>
                        </td>

                        <td style="text-align: right; padding-left: 1.9em;">
                            <figure>
                                <a href="#">
                                    <i class="glyphicon glyphicon-ok icon-rounded icon-desar" onclick="app.modifParametres();"></i>
                                </a>
                            </figure>
                            <p style="font-size: 1em; padding-right: 7pt; text-align: right;" class="iconLabel">Desar</p>
                        </td>
                    </tr>
                </table>
            </div>
		</script>
		
		<!-- Informació del dispositiu -->
		<script type="text/template" id="infoTelefon_template">
            <div class="divContenido">
                <div class="titoleccio">
                    <div style="float: right">
                        <p class="titolSeccio bold">Informació dispositiu</p>
                    </div>
                </div>

                <table id="infoTelefonTable" class="table">
                    <tr>
                        <th>Atribut</th>
                        <th>Valor</th>
                    </tr>
                    <tr>
                        <th>Device Name</th>
                        <td><%= deviceName %></td>
                    </tr>
                    <tr>
                        <th>Device Cordova</th>
                        <td><%= deviceCordova %></td>
                    </tr>
                    <tr>
                        <th>Device Platform</th>
                        <td><%= devicePlatform %></td>
                    </tr>
                    <tr>
                        <th>Device UUID</th>
                        <td><%= deviceUUID %></td>
                    </tr>
                    <tr>
                        <th>Device Version</th>
                        <td><%= deviceVersion %></td>
                    </tr>
                    <tr>
                        <th>phoneType</th>
                        <td><%= phoneType %></td>
                    </tr>
                    <tr>
                        <th>deviceId</th>
                        <td><%= deviceId %></td>
                    </tr>
                    <tr>
                        <th>deviceSoftwareVersion</th>
                        <td><%= deviceSoftwareVersion %></td>
                    </tr>
                    <tr>
                        <th>line1Number</th>
                        <td><%= line1Number %></td>
                    </tr>
                    <tr>
                        <th>subscriberId</th>
                        <td><%= subscriberId %></td>
                    </tr>
                    <tr>
                        <th>simState</th>
                        <td><%= simState %></td>
                    </tr>
                    <tr>
                        <th>simCountryIso</th>
                        <td><%= simCountryIso %></td>
                    </tr>
                    <tr>
                        <th>simOperatorName</th>
                        <td><%= simOperatorName %></td>
                    </tr>
                    <tr>
                        <th>simSerialNumber</th>
                        <td><%= simSerialNumber %></td>
                    </tr>
                    <tr>
                        <th>networkCountryIso</th>
                        <td><%= networkCountryIso %></td>
                    </tr>
                    <tr>
                        <th>networkOperator</th>
                        <td><%= networkOperator %></td>
                    </tr>
                    <tr>
                        <th>networkOperatorName</th>
                        <td><%= networkOperatorName %></td>
                    </tr>
                </table>

                <table class="botoneraInferiorParametres" >
                    <tr>
                        <td style="text-align: left;" >
                            <figure>
                                <a href="#">
                                    <i class="glyphicon glyphicon-chevron-left icon-rounded icon-params" onclick="app.menu();"></i>
                                </a>
                            </figure>
                            <p style="font-size: 1em; margin-left: 0.8em; text-align: center; text-align: left;" class="iconLabel">Tornar</p>
                        </td>
                    </tr>
                </table>
            </div>
		</script>

    </body>
</html>

